.DS_Store
.tmp/
.vscode/

.env*
.build/
.swiftpm/
**/.swiftpm/
DerivedData/
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
docs/
decomp/
dist/
